{% extends 'blazerbar/base.html' %}

{% load staticfiles %}

{% block title %} BlazerBar - {{ Bar.name }} {% endblock %}

{% block body %}
{% if user.is_authenticated %}
	<h3>Hello {{ user.username }}</h3>
	<a href="{% url 'watch_here' bar.bar_slug user.username %}">Watch a Game Here!</a><br />
	<a href="{% url 'review_bar' bar.bar_slug user.username %}">Review This Bar!</a><br />
	<a href="{% url 'favorite' bar.bar_slug user.username %}">Favorite This Bar!</a>
{% endif %}
{% if bar %}
<a href={{ bar.website }}><h2>{{ bar.name }}</h2></a>
<h5>{{ bar.location }}</h5>
{% endif %}
{% if favoriters %}
	<h5>{{ faves }} fans like this bar</h5>
	{% for fave in favoriters %}
		<a href="{% url 'userpage' fave.user.username %}">{{ fave.user.username }}</a>
	{% endfor %}
{% endif %}	
{% if bar.average_rating %}
	<p>Average Rating: {{ bar.average_rating }}</p>
	<p>{{ bar.ratings }} total reviews</p>  <!-- make this a link to reviews display -->
{% else %}
	<a href="{% url 'review_bar' bar.bar_slug user.username %}">Be the first to Review this bar</a>
{% endif %}

{% if events %}
	<h5>EVENTS</h5>
	<ul>
	{% for event in events %}
		<li><a href="{% url 'event' event.eventID %}">{{ event.event.game_date }}<br />
		{{ event.event.home_team }} vs. {{ event.event.away_team }}
		</a></li>
	{% endfor %}
	</ul>
{% endif %}



{% if ratings_list %}
	<h5>RATINGS</h5>
	{% for each in ratings_list %}
		<h3>{{ each }}, {{ each.created }}</h3>
		<p>{{ each.rating }}</p>
		<p>{{ each.review }}</p>
	{% endfor %}
{% endif %}



{% endblock %}

<!-- update average rating when rating is made.
	make sure to go by length of list. create new DB column in model for list?->