{% extends 'blazerbar/base.html' %}

{% load staticfiles %}

{% block title %} BlazerBar - {{ Bar.name }} {% endblock %}

{% block body %}
{% if user.is_authenticated %}
	<h3>Hello {{ user.username }}</h3>
	<a href="{% url 'watch_here' bar.bar_slug user.username %}">Watch a Game Here!</a>
{% endif %}
{% if bar %}
<a href={{ bar.website }}><h2>{{ bar.name }}</h2></a>
<h5>{{ bar.location }}</h5>
{% endif %}

{% if events %}
<h5>EVENTS</h5>
{% for event in events %}
<p>{{ event }}</p>
{% endfor %}
{% endif %}

{% if ratings %}
	<h5>RATINGS</h5>
	{% for rating in ratings %}
		<p>{{ rating }}</p>
	{% endfor %}
{% endif %}



{% endblock %}