{% extends 'blazerbar/base.html' %}

{% load staticfiles %}

{% block title %} BlazerBar - {{ Bar.name }} {% endblock %}

{% block body %}
{% if user.is_authenticated %}
	<h3>Hello {{ user.username }}</h3>
	<a href="{% url 'watch_here' bar.bar_slug user.username %}">Watch a Game Here!</a><br />
	<a href="{% url 'review_bar' bar.bar_slug user.username %}">Review This Bar!</a><br />
	<a href="{% url 'favorite' bar.bar_slug user.username %}">Favorite This Bar!</a>
{% endif %}
{% if bar %}
<a href={{ bar.website }}><h2>{{ bar.name }}</h2></a>
<h5>{{ bar.location }}</h5>
{% endif %}
{{events}}
{% if events %}
<h5>EVENTS</h5>
<ul>
{% for event in events %}
	<li><a href="{% url 'event' event.eventID %}">{{ event.event.game_date }}<br />
	{{ event.event.home_team }} vs. {{ event.event.away_team }}
	</li>
{% endfor %}
</ul>
{% endif %}

{% if favoriters %}
	<h5>{{ faves }} fans like this bar</h5>
	{% for fave in favoriters %}
		<a href="{% url 'userpage' fave.user.username %}">{{ fave.user.username }}</a>
	{% endfor %}
{% endif %}	

{% if ratings %}
	<h5>RATINGS</h5>
	{% for rating in ratings %}
		<p>{{ rating }}</p>
	{% endfor %}
{% endif %}



{% endblock %}

<!-- update average rating when rating is made.
	make sure to go by length of list. create new DB column in model for list?->