{% extends 'blazerbar/base.html' %}
{% block body %}
<a href="{% url 'userpage' user.username %}">{{ user.username }}</a>
<hr />
<h3>{{ event.venue.name }}</h3>
<h4>{{ event.venue.location }}</h4>
<br />
<h4> Attendees </h4>
<ul>
	<li><strong><a href="{% url 'userpage' event.owner.username %}">{{ event.owner.username }}</a></strong></li>
{% for attendee in event.attendee_set.all %}
	{% ifnotequal attendee.user.username event.owner.username %}
	<li><a href="{% url 'userpage' attendee.user.username %}">{{ attendee.user.username }}</a></li>
	{% endifnotequal %}
{% endfor %}
</ul>
<hr />

		

{% endblock %}