{% extends 'blazerbar/base.html' %}

{% load staticfiles %}

{% block title %} BlazerBar - {{ Bar.name }} {% endblock %}

{% block body %}
	<h3>{{ user.username }}</h3>
{%if user.is_authenticated %}
	<a href="{% url 'userpage' mainuser.username %}">Go Home, {{ mainuser }}</a>
	{% if mainuser != user.username %}
		<!-- check mainuser profile to see if already following user-->
	{% if friend_check %}
		<a href="{% url 'remove_friend' user.username %}">Stop Following</a>
	{% else %}
	<a href="{% url 'add_friend' user.username %}">Follow</a>

	{% endif %}
	{% endif %}
{% endif %}

{% if profile.picture %}
<img src="/media/{{ profile.picture }}" width=50px></img>
{% else %}
<img src="/media/profile_images/blazerbarsquare.jpg" width=50px></img>
{% endif %}

{% if invitations %}
	<ul>
	{% for invite in invitations %}
		<li><a href="{% url 'userpage' invite.host %}">{{ invite.host }}</a> invited you to <br />
			<a href="{% url 'event' invite.event.eventID %}">{{ invite.event }}</a><br />
			<a href="{% url 'accept_invite' invite.event.eventID %}">Join</a> or <a href="{% url 'deny_invite' invite.event.eventID %}">Deny</a></li>
	{% endfor %}
	</ul>
{% endif %}
	<h5>Teams</h5>
	<ul>
		{% for team in profile.teams.all %}
			<li><a href="{% url 'team_page' team.team_id %}">{{ team.full_name }}</a></li>
		{% endfor %}
	</ul>

	<h5>Following</h5>
	<ul>
		{% for friend in profile.friends.all %}
		{% if friend.username != mainuser %}
			<lh><a href="{% url 'userpage' friend.username %}">{{ friend.username|capfirst }}</a></lh>
		{% endif %}
		{% endfor %}
	</ul>
	<h5>Events - Hosting</h5>
	<ul>
		{% for event in hosting_events.all %}
			<li><a href="{% url 'event' event.eventID %}">{{ event.event }}<br />
				     at {{ event.venue }}
				     in {{ event.event.game_date|timeuntil }}
			</a></li>
		{% endfor %}
	</ul>
	<h5>Favorite Bars</h5>
		{% for bar in profile.favorite_bars.all %}
			<li> <a href="{% url 'bar_page' bar.bar_slug %}">{{ bar }} </a></li>
		{% endfor %}

	<h5>Events - Attending</h5>
	<ul>
		{% for event in attending_events.all %}
			<li><a href="{% url 'event' event.event.eventID %}">{{ event.event.event.game_date }}</a></li>
		{% endfor %}
	</ul>
	
	<h5>Games</h5>
	<ul>
		{% for game in games.all %}
			<li><a href="{% url 'game' game.game_id %}">{{ game.game_date }}<br />
				{{game.home_team }} vs. {{game.away_team }} 
				</a></li>
		{% endfor %}
	</ul>



{% endblock %}