{% extends 'blazerbar/base.html' %}

{% load staticfiles %}

{% block title %} BlazerBar - {{ Bar.name }} {% endblock %}

{% block body %}

{% if user.is_authenticated %}
	<h3>Hello {{ user.username }}</h3>
{% endif %}

{% if bar %}
	<h5>{{ bar.name }}</h5>


{% for game in games %}
	<a href="{% url 'event_from_bar' bar.bar_slug user.username game.game_id %}">{{ game }}</a>
	<br />
{% endfor %}
{% endif %}

{% if game %}
	<h5>{{ game.home_team }} vs. {{ game.away_team }}</h5>
	<h5>{{ game.game_date }}</h5>
	{% for bar in bars %}
		<a href="{% url 'event_from_bar' bar.bar_slug user.username game.game_id %}">{{ bar }}</a>
		<br />
	{% endfor %}
{% endif %}




{% endblock %}